body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0a0809;
  font-family: librebaskerville-regular, serif;
  font-size: 1.6rem;
  line-height: 1.875;
  color: #5f5f5f;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#nprogress .bar {
  background: orange;
  height: 5px;
}
#nprogress .peg {
  box-shadow: 0 0 10px orange, 0 0 5px orange;
}